.badge {
    display: flex;
    background-color: tomato;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}